/*
 * @Author: qianqian.zhao
 * @Date: 2018-12-27 11:16:19
 * @LastEditors: kai.yang
 * @LastEditTime: 2019-02-19 20:56:51
 * @Description: 放全局变量
 */

// 基本颜色（彩色）
$base-orange: #FF8E3D; // 橙色,作为全局主要色调
$base-blue: #20A0FF; // 蓝色
$base-red: #E05353; // 红色
$base-green: #75BB6B; // 绿色
$base-deepBlue: #3A4C67; // 深蓝色
$base-menuDaub: #F3F6FD; // 菜单栏底色（该颜色用于文字按钮以及菜单。）
$base-lineGray: #F5F7FA; // 浅灰色
$base-black: #000; //全黑
